In [4]:
!ls

data  notebooks

In [22]:
# import packages

import pandas as pd
import numpy as np
import re

In [49]:

parts_export_df = pd.read_csv("./data/raw/Parts_Exports_Countries.csv", encoding='utf-16',header=0, sep="\t")
parts_export_df.head(4)

,Partner,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Mexico,"13,971,074,278","12,156,777,287","17,515,733,063","21,596,577,589","24,577,884,819","27,020,301,970","29,697,309,738","30,563,675,255","28,853,002,029","30,293,476,225","32,762,586,770","33,351,165,102","25,537,022,508","29,079,110,745","33,202,728,599","37,022,191,232","38,841,300,973"
1,Canada,"28,258,965,666","19,647,146,485","26,021,629,647","28,560,672,661","31,998,428,903","31,955,532,884","30,835,751,278","29,818,284,887","31,123,213,547","31,683,450,146","30,749,813,818","29,422,005,117","21,979,574,184","21,569,493,812","25,806,846,862","31,705,918,255","29,492,074,572"
2,Australia,"958,541,210","714,997,863","1,121,808,234","1,438,835,325","1,992,956,503","1,562,343,737","1,498,106,291","1,345,828,779","1,103,599,186","1,253,573,329","1,303,241,107","1,299,923,847","1,175,605,909","1,433,936,916","1,557,406,115","2,005,328,898","2,623,045,523"
3,Germany,"1,706,706,846","1,265,021,691","1,572,329,039","1,742,369,410","1,673,520,727","1,804,848,263","1,924,245,843","2,047,764,612","2,166,246,857","2,410,629,208","2,510,446,944","2,182,973,052","1,760,177,517","1,998,615,746","2,233,079,487","2,539,416,813","2,353,946,037"

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=1414b58c-d851-4542-a845-1dccbe508e47' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>